@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.container {
    animation: fadeIn 1s ease-in-out;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    background: linear-gradient(to bottom right, #e0f7fa, #fce4ec);
    padding: 50px 20px;
    min-height: 100vh;
  }
  
  .header {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
  }
  
  .subtext {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: plum;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
  }
  
  .card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #555;
    font-size: 0.9rem;
  }
  